<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>ABOUT  PAGE</title>
</head>
<body>
<H1>About us</H1>
<a href="{% url 'home' %}">home</a>
<a href="{% url 'contact' %}">home</a>
<a href="{% url 'services' %}">home</a>

<p><span>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Adipisci consectetur consequuntur, dolorem earum facilis impedit inventore ipsum laudantium nam neque nulla sapiente veniam, veritatis! Aut autem blanditiis eligendi maxime quod?</span><span>Architecto, aut commodi dolorem eveniet, excepturi harum id illum maxime molestias nihil nostrum odit officiis optio rem repellat sed, soluta! Atque repudiandae, voluptatum? Cum deleniti deserunt dolor quod, recusandae sint.</span><span>Accusamus aspernatur consequatur cum doloribus facilis, hic id illum incidunt ipsum libero molestias necessitatibus nesciunt nulla quos ratione tempora veritatis. Autem cupiditate ex, illum non nulla similique temporibus unde voluptatem?</span></p>
<h2>Additional information</h2>
<p><span>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab accusamus at ea earum enim eos error ex expedita hic, in ipsum nemo nesciunt nobis odit officia quibusdam saepe voluptas voluptate?</span><span>Beatae distinctio enim mollitia officia officiis omnis quibusdam ullam unde voluptas voluptatum! Est minus neque ratione saepe temporibus? Aliquam atque explicabo harum iste minima mollitia non pariatur, ratione tenetur totam?</span></p>


</body>
</html>