<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>contact page</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'bootsrap/css/bootstrap.min.css' %}">
    <script src="{% static 'bootsrap/js/bootstrap.min.js' %}"></script>
</head>.css
<body>
<h1 class="text-danger text-center">contact us</h1>

<a href="{% url 'home' %}" class="btn btn-info">home</a>
<a href="{% url 'about' %}" class="btn btn-primary">about</a>
<a href="{% url 'services' %}" class="btn btn-warning">services</a>
<p><span>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad alias aperiam cumque dolores eaque eius et explicabo fugiat minus necessitatibus nihil, possimus provident repellat rerum ut vero voluptatum. Quasi, quisquam.</span><span>Assumenda blanditiis commodi, dignissimos eaque eius enim explicabo facilis harum in iste libero, nam, nihil odit porro praesentium repellat soluta voluptates? Delectus dolor facere nobis non optio quam quo voluptatibus.</span><span>Alias consectetur culpa deserunt dolore ea est ex excepturi exercitationem fuga fugiat harum ipsa, ipsam ipsum maiores minima nesciunt non, praesentium quae quasi quod repellendus repudiandae saepe sed soluta ullam.</span><span>Alias aperiam autem commodi cum deserunt dignissimos doloribus earum esse inventore laborum libero magnam molestias neque nobis nostrum nulla pariatur perspiciatis praesentium quis quisquam quos repudiandae sapiente, ullam veniam voluptatibus!</span></p>

</body>
</html>