<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>services</title>
</head>
<body>
<h1>services</h1>
<a href="{% url 'home' %}">home</a>
<a href="{% url 'about' %}">about</a>
<a href="{% url 'contact' %}">contact</a>

<p><span>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aut distinctio dolorem impedit inventore itaque laborum placeat provident repellat, similique vitae. Dolorum ipsa modi nulla. Accusantium fugit iure modi quaerat tenetur!</span><span>Commodi corporis placeat quaerat quasi rerum sit velit. Aperiam, asperiores autem cupiditate deserunt doloremque itaque iusto minus molestiae pariatur ratione saepe veritatis? Culpa deserunt illum incidunt mollitia natus quam sit.</span><span>Accusamus alias consequuntur expedita laboriosam maiores numquam officiis optio, similique tempore voluptate? Accusamus accusantium deleniti ea, eum expedita explicabo incidunt laborum mollitia pariatur praesentium recusandae suscipit tempore velit voluptas voluptatem!</span></p>

</body>
</html>